body {
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    background: linear-gradient(to bottom,black, rgb(41, 178, 246));
    padding: 40px;
    height: fit-content;

}
.mainbox{
    background-color: rgb(40, 34, 66);
    color: white;
    width: calc(100vw - 100px);
    height: 700px;
    display: flex;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.922);
    border-radius: 20px;


}
.leftside{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;

}
.intro h1 {
    font-size: 70px;
    margin: 0%;
}
.rightside img{
    width: 500px;
    margin-top: 70px;
    margin-left: 70px;
}
.rightside{
    width: 50%;
}
.menu{
    height: fit-content;
    text-align: right;
    margin-right: 40px;
    margin-top: 20px;
}
.menu a{
    color: white;
    margin-right: 30px;
}
.body{
    margin-top: 10px;
    background-color: rgb(40, 34, 66);
    color: white;
    width: calc(100vw - 100px);
    height: fit-content;
    display: flex;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.922);
    border-radius: 20px;
}
.about h1{
    height: fit-content ;
    padding: 40px;
}
.aboutcontent{
    display: flex;

    padding-left: 50px;
    height: 350px;
}
.aboutcontent img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.aboutcontent div{
    width: 300px;
    height: 200px;
    margin-top: 0px;
    margin-right: 40px;
    align-items: center;
    text-align: center;
}
